[class*="col-"] > .jq-selectbox {
    display: block !important;
    width: 100%;
}

.jq-checkbox {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
	margin: 0 3px 0px 0;
	background: #fff;
	border-radius: 1px;
	border-width: 2px;
	border-style: solid;
	border-color: #2c93d6;
	display: inline-block;
}

.jq-checkbox .jq-checkbox__div{
	top: 2px;
	left: 2px;
	font-size: 11px;
	width: 13px;
	height: 14px;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: 0.25s linear;
	font-family: 'icomoon' !important;
	color: #2c93d6;
}

.jq-checkbox .jq-checkbox__div:before{
	content: '\ea10';

}

.jq-selectbox__select {
	padding: 8px 10px;
	color: #807f7f;
	background: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #dbdbdb;
	text-align: left;
	border-radius: 3px;
	font-size: 15px;
	line-height: 16px;
	height: 35px;
	transition: 0.25s linear;
}

.jq-selectbox.opened .jq-selectbox__select, 
.jq-selectbox:hover .jq-selectbox__select {
    border-color: #bebebe;
}

.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 150px;
	min-width: 150px;
}

.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 100%;
    border-radius: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #D9DCDE;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
    line-height: 33px;
    text-align: center;
    color: #ABABAB;
    font-family: 'icomoon' !important;
}

.jq-selectbox__trigger-arrow:before{
    content: "\f0d7";

}

.jq-selectbox__dropdown {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 14px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #bebebe;
}

.jq-selectbox__search {
	display: none;
	padding: 5px 2px;
}

.jq-selectbox__search input {
	width: 100%;
	margin: 0;
	padding: 5px 30px 3px 10px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 2px;
	background: transparent;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
	display: none;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.jq-selectbox__not-found {
	padding: 6px 5px;
	color: #808080;
	background: #e6e6e6;
	font-size: 12px;
	text-align: center;
}

.jq-selectbox ul {
	margin: 0;
	padding: 0;
	border-radius: 3px;
}

.jq-selectbox li {
	min-height: 15px;
	padding: 5px 10px;
	margin: 0;
	color: #807f7f;
	transition: 0.25s linear;
}

.jq-selectbox li.selected,
.jq-selectbox li:hover {
	color: #000;
	background: #f3f3f3;
}

.jq-selectbox li.disabled {
	color: #AAA;
}

.jq-selectbox li.disabled:hover {
	background: none;
}

.jq-selectbox li.optgroup {
	font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}

.jq-selectbox li.option {
	padding-left: 25px;
}

.jq-checkbox.checked .jq-checkbox__div{
	visibility: visible;
	opacity: 1;
}

.jq-checkbox.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}

.jq-radio {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	cursor: pointer;
	margin: 0 3px 0px 0;
	background: #fff;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #2c93d6;
}

.jq-radio .jq-radio__div {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	border-radius: 50%;
	transition: 0.2s linear;
	background: #2c93d6;
}

.jq-radio.checked .jq-radio__div{
	visibility: visible;
	opacity: 1;
}


.jq-radio.focused {
	border: 1px solid #08C;
}

.jq-radio.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}

.jq-file {
	width: 270px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 4px;
}

.jq-file input {
	cursor: pointer;
	height: auto;
	line-height: 1em;
}

.jq-file__name {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	padding: 0 80px 0 10px;
	color: #333;
	font: 14px/30px Arial, sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1;
	background: #FFF;
}

.focused .jq-file__name {
	border: 1px solid #5794BF;
}

.jq-file__browse {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 0 10px;
	border-left: 1px solid #CCC;
	border-radius: 0 4px 4px 0;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	text-shadow: 1px 1px #FFF;
	font: 14px/30px Arial, sans-serif;
}

.jq-file:hover .jq-file__browse {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}

.jq-file:active .jq-file__browse {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}

.jq-file.disabled .jq-file__name {
	color: #888;
}

.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}

.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}

.nm_table tbody td.city2 .jq-selectbox{
	width: 145px;
}

.jq-select-multiple {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	background: #FFF;
	color: #333;
	font: 14px/18px Arial, sans-serif;
	cursor: default;
}

.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}

.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}

.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}

.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
}

.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}

.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}

.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}

.jq-select-multiple li.disabled {
	color: #AAA;
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}

.jq-select-multiple li.optgroup {
	font-weight: bold;
}

.jq-select-multiple li.option {
	padding-left: 25px;
}